<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>314352704371-u7aqhfebggtinjdaj1342nfv2q7hl2ku.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBHpaemH9V5Cjoi3pLAVcjEnZjsHZLomk4</string>
	<key>GCM_SENDER_ID</key>
	<string>314352704371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.walkingApp</string>
	<key>PROJECT_ID</key>
	<string>walkingapp-383615</string>
	<key>STORAGE_BUCKET</key>
	<string>walkingapp-383615.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314352704371:ios:dbe3c3666ecbbf61aac306</string>
</dict>
</plist>